<template>
    <div>
      Hola, me presento. Soy '{{ fullName }}', nací el '{{ birthDate }}' y me considero '{{ gender }}'.
    </div>
  </template>
  
  <script setup>
  import { ref, computed } from 'vue';
  import { userData } from '../data/user';
  
  const fullName = computed(() => `${userData.firstName} ${userData.lastName}`);
  const birthDate = ref(userData.birthDate.toLocaleDateString());
  const gender = ref(userData.gender);
  </script>
  