<template>
    <div>
      {{ firstName }}, tienes {{ age }} años, eres {{ roleDescription }}. Esta es tu área de trabajo:
      <ul>
        <li v-for="area in workAreas" :key="area">{{ area }}</li>
      </ul>
    </div>
  </template>
  
  <script setup>
  import { ref, computed } from 'vue';
  import { userData } from '../data/user';
  
  const age = computed(() => {
    const currentYear = new Date().getFullYear();
    return currentYear - userData.birthDate.getFullYear();
  });
  const roleDescription = computed(() => {
    return userData.role === 'Admin' ? 'Administrador del sistema' : 'Usuario';
  });
  
  const firstName = userData.firstName;
  const workAreas = userData.workAreas;
  </script>
  