<template>
    <div>
      Mis datos de Usuario son:
      <ul>
        <li>Mi nombre: {{ firstName }}</li>
        <li>Mi apellido: {{ lastName }}</li>
        <li>Mi cumpleaños: {{ birthDate }}</li>
        <li>Sexo: {{ gender }}</li>
        <li>Mi Email: {{ email }}</li>
        <li>Role: {{ role }}</li>
        <li>Accediste la última vez: {{ lastAccess }}</li>
      </ul>
    </div>
  </template>
  
  <script setup>
  import { ref } from 'vue';
  import { userData } from '../data/user';
  
  const firstName = userData.firstName;
  const lastName = userData.lastName;
  const birthDate = userData.birthDate.toLocaleDateString();
  const gender = userData.gender;
  const email = userData.email;
  const role = userData.role;
  const lastAccess = userData.lastAccess.toLocaleString();
  </script>
  